.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.button:disabled {
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
}

.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.primary {
    background-color: royalblue;
    color: white;
}

.secondary {
    background-color: lightgray;
    color: black;
}
.ordinary {
    background-color: green;
    color: tomato;
}

.icon {
    flex:0 0 16px;
    margin-right: 4px;
}